*{
  box-sizing: border-box;/*ajusta los tamaños*/
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
}
header, footer{
  background-color: steelblue;
  color: rgb(255, 255, 255);
  line-height: 60px;
  text-align: center;
  width: 100%;
}
header{
  height: 200px;
  padding-top: 3em;
}
main{
  background-color: rgb(255, 255, 255); /* white #FFFFFF*/
  width: 100%;
}
article{
  float: left;
  height: auto;
  margin: 2em 1em;
  width: 22%;
}
.imagen{
  background-color: teal;
  height: 200px;
  margin-bottom: 1em;
}
footer{
  float:left;
  height: 100px;
}
p{
  margin-top: 1em;
  text-align: justify;
}
